
<div id="page">

      <div id="content">
        <div id="hiring-project">
          <a href="/">home</a>
          <h1>[% title %]</h1>

          <form action="/submit/[% form %]" method="POST">
          [% i = 0 %]
          [% FOREACH form_fields %]
            <label>[% label %]</label> <input type="[% type %]" name="[% name %]" value="[% customerinfo %]"><br>
          [% END %]
            <input type="submit" value="SUBMIT">
          </form>

      </div>
    </div>
</div>
